body {
    background-color: var(--containerRoot);
    color: var(--label);
    font-family: var(--font-crzi);
    font-size: 100%;
    font-weight: 400;
}

button,
input,
keygen,
select,
textarea {
    font-family: var(--font-crzi);
}

:focus {
    outline-color: var(--callToAction--hover);
}

::selection {
    background: var(--callToActionHighlight);
    color: var(--label);
}
